* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 3vb;
    font-family: 'Rubik', sans-serif;
}

body {
    background: rgb(80,254,240);
    background: linear-gradient(137deg, rgba(80,254,240,1) 18%, rgba(160,106,208,1) 51%, rgba(170,59,149,1) 88%);
}

.fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}   

.caixa-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: azure;
    width: 60vw;
    height: 76vh;
    border-radius: 4vb;
}

.area-formulario {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
}

.area-formulario input {
    margin: 0 0 2.5vb;
    width: 50vw;
    height: 6vh;
    max-width: max-content;
    border-radius: 1vb;
    border: 0.3vb solid rgb(228, 228, 228);
}
.area-formulario label{
    width: 50vw;
    height: 4vh;
    max-width: max-content;
    border-radius: 1vb;
}
#login {
    border-radius: 1.5vb;
    width: 30vw;
    height: 5vh;
    max-width: max-content;
}